{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">{% trans 'Checkout' %}</h3>
                    <ul class="breadcrumb-tree">
                        <li><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                        <li class="active">{% trans 'Checkout' %}</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-7">
                    <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">{% trans 'Billing address' %}</h3>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="first-name" placeholder="{% trans 'First Name' %}">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="last-name" placeholder="{% trans 'Last Name' %}">
                        </div>
                        <div class="form-group">
                            <input class="input" type="email" name="email" placeholder="{% trans 'Email' %}">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="address" placeholder="{% trans 'Address' %}">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="city" placeholder="{% trans 'City' %}">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="country" placeholder="{% trans 'Country' %}">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="zip-code" placeholder="{% trans 'ZIP Code' %}">
                        </div>
                        <div class="form-group">
                            <input class="input" type="tel" name="tel" placeholder="{% trans 'Telephone' %}">
                        </div>
                        <div class="form-group">
                            <div class="input-checkbox">
                                <input type="checkbox" id="create-account">
                                <label for="create-account">
                                    <span></span>
                                    {% trans 'Create Account?' %}
                                </label>
                                <div class="caption">
                                    <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.' %}</p>
                                    <input class="input" type="password" name="password" placeholder="{% trans 'Enter Your Password' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Billing Details -->

                    <!-- Shipping Details -->
                    <div class="shipping-details">
                        <div class="section-title">
                            <h3 class="title">{% trans 'Shipping address' %}</h3>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="shipping-address">
                            <label for="shipping-address">
                                <span></span>
                                {% trans 'Ship to a different address?' %}
                            </label>
                            {% csrf_token %}
                            <div class="caption">
                                <div class="form-group">
                                    <input class="input" type="text" name="first-name" placeholder="{% trans 'First Name' %}">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="last-name" placeholder="{% trans 'Last Name' %}">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="email" name="email" placeholder="{% trans 'Email' %}">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="address" placeholder="{% trans 'Address' %}">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="city" placeholder="{% trans 'City' %}">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="country" placeholder="{% trans 'Country' %}">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="zip-code" placeholder="{% trans 'ZIP Code' %}">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="tel" name="tel" placeholder="{% trans 'Telephone' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Shipping Details -->

                    <!-- Order notes -->
                    <div class="order-notes">
                        <textarea class="input" placeholder="{% trans 'Order Notes' %}"></textarea>
                    </div>
                    <!-- /Order notes -->
                </div>

                <!-- Order Details -->
                <div class="col-md-5 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">{% trans 'Your Order' %}</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>{% trans 'PRODUCT QUANTITY' %}</strong></div>
                            <div><strong>{% trans 'TOTAL' %}</strong></div>
                        </div>
                        <div class="order-products">
                            <div class="order-col">
                                <div>{{ quantity }}</div>
                                <div>${{ summ }}</div>
                            </div>
                            <div class="order-col">
                                <div>{% trans 'PRODUCT QUANTITY' %}</div>
                                <div>${{ summ }}</div>
                            </div>
                        </div>
                        <div class="order-col">
                            <div>{% trans 'Shipping' %}</div>
                            <div><strong>{% trans 'FREE' %}</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>{% trans 'TOTAL' %}</strong></div>
                            <div><strong class="order-total">${{ summ }}</strong></div>
                        </div>
                    </div>
                    <div class="payment-method">
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-1">
                            <label for="payment-1">
                                <span></span>
                                {% trans 'Direct Bank Transfer' %}
                            </label>
                            <div class="caption">
                                <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %}</p>
                            </div>
                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-2">
                            <label for="payment-2">
                                <span></span>
                                {% trans 'Cheque Payment' %}
                            </label>
                            <div class="caption">
                                <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %}</p>
                            </div>
                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-3">
                            <label for="payment-3">
                                <span></span>
                                {% trans 'Paypal System' %}
                            </label>
                            <div class="caption">
                                <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="input-checkbox">
                        <input type="checkbox" id="terms">
                        <label for="terms">
                            <span></span>
                            {% trans 'I\'ve read and accept the' %} <a href="#">{% trans 'terms & conditions' %}</a>
                        </label>
                    </div>
                    <a href="#" class="primary-btn order-submit">{% trans 'Place order' %}</a>
                </div>
                <!-- /Order Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

{% endblock %}