
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    

<form method="post">
    {% csrf_token %}
    {{ register_form.non_field_errors }}
    
    <p>
        {{ register_form.username.label_tag }}
        {{ register_form.username }}
        {{ register_form.username.errors }}
    </p>
    <p>
        {{ register_form.email.label_tag }}
        {{ register_form.email }}
        {{ register_form.email.errors }}
    </p>
    <p>
        {{ register_form.password1.label_tag }}
        {{ register_form.password1 }}
        {{ register_form.password1.errors }}
    </p>
    <p>
        {{ register_form.password2.label_tag }}
        {{ register_form.password2 }}
        {{ register_form.password2.errors }}
    </p>
    <button type="submit">Register</button>
</form>


</body>
</html>
